.navbar {
    background-color: #f9f8f9;
    color: #000;
    padding: 10px;
    box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.63);
  }
  
.navbar1{
    top: 0;
    position: sticky;
}

.navbar h2 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}
.blankbar{
    height: 50px;
    background: #dce2ef;
    
 }
 .profile-text{
    font-size: 35px;
    color: #000;
    text-align: center;
    font-style: italic;
    
}