<div class="wrapper">
  <div class="d-flex align-items-center">
    <div class= "d-flex align-items-center justify-content-center dashboard-btn"  (click)="openModal(modalTemplate)">Add Income</div>
    <div class= "d-flex align-items-center justify-content-center tasks-btn">Add Expenses</div>
  </div>
  <ng-template #modalTemplate>
    <div class="sexyWrapper">
      <form>
        <div class="modal-dialog" style="height: 500px;">
          <div class="modal-content">
            <div class="fatWrapper">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Income</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="expenseName">Income Name</label>
                  <input type="text" id="expenseName" class="form-control" name="expenseName">
                  {{income.expense}}
                </div>
                <div class="form-group">
                  <label for="expenseAmount">Income Amount</label>
                  <input type="number" id="expenseAmount" class="form-control"name="expenseAmount">
                  {{income.amount}}
                </div>
                <div class="form-group">
                  <label for="expenseDescription">Description</label>
                  <input type="text" id="expenseDescription" class="form-control" name="expenseDescription">
                  {{income.description}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="submit" class="btn btn-primary" (submit)="postIncome()">Save Income</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
  <div class="page-content">
    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"> -->
    <div class="test">
      <div class="mx-4">
        <div class="atm-class">
          <div class=" atm-card back-img" style="color: white;">
            <h5
              style="
                padding-top: 40px;
                font-weight: 200;
                font-family: 'Nunito Sans', sans-serif;
              "
              class="mx-3"
            >
              Available Balance
            </h5>
            <h3 class="mx-3" style="font-weight: 700">{{ income.amount | currency:'Naira':'symbol':'1.2-2' }}</h3>
            <div class="card-buttom">
              <p class="mx-3" style="font-weight: 600">****9017</p>
              <img
                style="height: 70px; width: 70px; background-color: none"
                src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-mastercard-logo-png-vector-download-19.png"
                alt=""
              />
            </div>
          </div>
          <div class="please">
            <div class="middle pt-5 mx-5">
              <h4>Assets</h4>
              <div class="d-flex justify-content-between">
                <div>
                  <p>Gold</p>
                  <h4>$17,000</h4>
                </div>
                <div class="mx-3">
                  <p>Warehouse</p>
                  <h4>$1,000</h4>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div>
                  <p>Stock</p>
                  <h4>$17,000</h4>
                </div>
                <div class="mx-3">
                  <p>Land</p>
                  <h4>$1,000</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <h4 style="font-weight: 400">Income Goal</h4>
          <div class="d-flex">
            <p style="font-weight: 400">Progress to month</p>
            <h5 style="margin-left: 270px">$100,000/200,000</h5>
          </div>
        </div>
        <div class="progress-container">
          <progress value="100000" max="200000"></progress>
        </div>
        <div class="d-flex">
                <div class="card card-income mt-4" style="display: flex; align-items: center; flex-direction: row; height: 100px; width: 300px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" viewBox="0 0 220 120">
                        <path d="M10 80 C 40 40, 80 120, 120 80 S 160 40, 200 80 S 240 120, 280 80" fill="none" stroke="#32DFCE" stroke-width="16"/>
                      </svg>
                  
                  <div style="padding: 35px;">
                    <h6>Add income</h6>
                    <h4>{{ income.amount | currency:'Naira':'symbol':'1.2-2' }}</h4>
                  </div>
                </div>
                <div class="card card-income mt-4 mx-3" style="display: flex; align-items: center; flex-direction: row; height: 100px; width: 300px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" viewBox="0 0 220 120">
                        <path d="M10 80 C 40 40, 80 120, 120 80 S 160 40, 200 80 S 240 120, 280 80" fill="none" stroke="#ff0000" stroke-width="16"/>
                      </svg>
                  
                  <div style="padding: 35px;">
                    <h6>Spending</h6>
                    <h4>$8,000</h4>
                  </div>
                </div>

        </div>
        <div class="d-flex justify-content-between">
          <h5>Income Source</h5>
          <h6>view all</h6>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="centered-div">
              <img src="assets/images/money.png" alt="" />
            </div>
            <div class="mx-3">
              <p>Salary</p>
              <h4>$17,000</h4>
            </div>
          </div>
          <div class="d-flex">
            <div class="centered-div">
              <img src="assets/images/e-commerce.png" alt="" />
            </div>
            <div class="mx-3">
              <p>E-commerce</p>
              <h4>$1,000</h4>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="centered-div">
              <img src="assets/images/shopping.png" alt="" />
            </div>
            <div class="mx-3">
              <p>My shop</p>
              <h4>$9,000</h4>
            </div>
          </div>
          <div class="d-flex">
            <div class="centered-div">
              <img src="assets/images/forex.png" alt="" />
            </div>
            <div class="mx-3">
              <p>Forex</p>
              <h4>$20,000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"> -->
    <div class="test2 mt-3">
      <div class="d-flex justify-content-between">
        <h4 style="font-size: 18px; font-weight: 700;" class="mx-5">Income & Expenses</h4>
        <div class="d-flex">
            <div>
                <h4>$7,000</h4>
                <p>Salary</p>
                
            </div>
              <div class="mx-4">
               <h4>$1,000</h4> 
               <p>E-commerce</p>
                
              </div>
        </div>
      </div>
      <!-- <canvas id="lineChart" class="box1"></canvas> -->

      <div class="card mt-2" style="width: 500px; margin-left: 76px;">
        <h4>Notification</h4>
        <p>All bills have been paid, and there are no overdue bills.</p>
      </div>

    </div>
  </div>
</div>
