<div class="wrapper">
         <div  class="sidebar">
          <div class="top  d-flex align-items-center justify-content-center">
              <img src="assets/images/cartoonpp.jpeg" class="text-align-center" style="height: 100px; width: 100px; border-radius: 50px; " alt="Egora image" />
            
          </div>
         <!-- <div class="sidebar-content">
                <div class="side-btn active mt-5 d-flex">
                    <b></b>
                    <b></b>
                <span class="material-symbols-sharp">grid_view</span>           
                <h3>Dashboards</h3>
              </div>
              <div class="side-btn mt-3 d-flex">
                <span class="material-symbols-sharp">Settings</span>
                <h3>Settings</h3>
              </div>
              <div class="side-btn d-flex mt-3">
                <span class="material-symbols-sharp">person</span>
                <h3>Workflow</h3>
              </div>
                <div class="side-btn d-flex mt-3">
                    <span class="material-symbols-sharp">inventory</span>
                    <h3>Products</h3>
                </div>
                <div class="side-btn d-flex mt-3">
                    <span class="material-symbols-sharp">mail</span>
                    <h3>Messages</h3>
                </div>
              <div class="side-btn d-flex mt-3">
                <span class="material-symbols-sharp">report</span>
                <h3>Report</h3>
              </div>
              <div class="side-btn d-flex mt-3">
                <span class="material-symbols-sharp">insights</span>            
                <h3>Analytics</h3>
              </div>        
    
          </div> -->
                  
          
          <div class="sidebar-content mt-5">
            <div *ngFor="let item of items" class="side-btn d-flex" [ngClass]="{'special-item': item.special, 'active': item === selectedItem}" (click)="selectItem(item)">
              <b *ngIf="item.special"></b>
              <b></b>
              <span class="material-symbols-sharp">{{ item.icon }}</span>
              <h3>{{ item.text }}</h3>
            </div>
          </div>
          
        
        </div>     
</div>