.back-img {
    background-image: url('/assets/images/forgot-password.jpg');
    background-size: cover;
    height: 100vh;
}
.btn {
    background: #2c444e; 
    color: #0bb69d; 
    border:1px solid #0bb69d;
    border-radius: 20px;
    width: 70%;
}