<div class="container-fluid">
   <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div #loginForm class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="d-flex justify-content-center ">
            <p-card>
                <h4>Sign in to Sparrow Expense manager</h4>
                <p-divider></p-divider>
                <div class="d-flex justify-content-center align-items-center">
                    <p-button icon="pi pi-google" [rounded]="true" [outlined]="true"></p-button>            
                    <p-button class="ms-2" icon="pi pi-facebook" [rounded]="true" [outlined]="true"></p-button>            
                </div>
                <p-divider align="center"><b>OR</b></p-divider>
                <div #email>
                    <h6>Email</h6>
                    <input type="text" pInputText style="width: 100%;"/>
                </div>
                <div #password class="pt-2">
                <div class="d-flex justify-content-between">
                    <h6>Password</h6>
                    <p-button routerLink="/forgot-password" label="Forgot Password?" styleClass="p-button-link p-0" [link]="true"></p-button>
                </div>
                    <p-password [toggleMask]="true" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"></p-password>           
                </div>
                <div class="pt-2">
                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary" class="pt-2">Remember me</label>
                </div>
                <div class="pt-2 d-flex justify-content-center">
                    <p-button label="Login" severity="login"></p-button>
                </div>
                <div class="pt-2 d-flex align-items-center">
                    New User,&nbsp;<p-button routerLink="/sign-up" label="Click here" styleClass="p-button-link p-0" [link]="true"></p-button>&nbsp;to register.
                </div>
            </p-card>
        </div>
        </div>
    <div class="d-none d-md-block col-md-6 col-lg-6 col-xl-6 back-img">
    </div>
   </div> 
</div>